.country {
    background: #ddd5;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 20px;
    line-height: 1.5;
    box-shadow: 2px 6px 10px 0px #99999985;
}

.country:hover{
  box-shadow: 0px 0px 0px 0px;
}

.img img {
    width: 100%;
    border-radius: 10px;
}

button.loveBtn {
    padding: 2px 6px;
    margin-top: 8px;
    margin-right: 8px;
    background: cornflowerblue;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

span.love {
    color: red;
}